@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap);

.img-hvr:active, .img-hvr:hover {
    box-shadow: rgba(30, 50, 150, .2) 0 50px 100px -20px, rgba(0, 0, 150, .2) 0 30px 60px -30px
}

#static-dialog1, #static-dialog2 {
    height: 305px;
    top: 44%;
    margin-top: 55px
}

#static-dialog3, #static-dialog4 {
    width: 250px;
    height: 133px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -110px
}

.load5 path:first-of-type {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .1s infinite spin_single
}

.load5 path:nth-of-type(2) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .2s infinite spin_single
}

.load5 path:nth-of-type(3) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .3s infinite spin_single
}

.load5 path:nth-of-type(4) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .4s infinite spin_single
}

.load5 path:nth-of-type(5) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .5s infinite spin_single
}

.load5 path:nth-of-type(6) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .6s infinite spin_single
}

.load5 path:nth-of-type(7) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .7s infinite spin_single
}

.load5 path:nth-of-type(8) {
    animation: 1.8s cubic-bezier(.115, .97, .14, 1) .8s infinite spin_single
}

.pre path {
    transform-origin: center;
    transform-box: fill-box;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden
}

@keyframes spinHalf {
    0% {
        transform: rotate(0)
    }
    50% {
        transform: rotate(360deg)
    }
}

@keyframes spin_full {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes spin_single_neg {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(-180deg)
    }
}

@keyframes spin_single {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(180deg)
    }
}

exporter-loading {
    margin: 0;
    display: flex;
    place-content: center;
    height: 100vh
}

.daddy {
    display: grid;
    grid-template-columns:1fr 1fr;
    place-items: center;
    margin: 0
}

.panel-title {
    position: relative;
    display: block;
    cursor: pointer;
    font-family: Roboto, serif !important
}

.panel-content, .panel-content2 {
    height: auto;
    overflow: hidden;
    position: relative;
    opacity: 1;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

.cross {
    float: right;
    background: 0 0;
    border: none
}

.cross:active {
    transform: translateY(3px) scale(0.95);
}

.panel {
    display: none
}

.opt-box {
    padding-left: 10%
}

* {
    margin: 5px auto
}

.chkbox-input {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px
}

.chkbox-input:checked + .chkbox-tile {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: #2260ff;
    border-color: #2260ff
}

.chkbox-input:checked + .chkbox-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: #2260ff;
    border-color: #2260ff
}

.chkbox-input:checked + .chkbox-tile .chkbox-label {
    color: #2260ff
}

.chkbox-input:checked + .chkbox-tile:hover {
    border-color: #2260ff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1), 0 0 0 4px #b5c9fc
}

.chkbox-input:focus + .chkbox-tile:before, .chkbox-tile:hover:before {
    transform: scale(1);
    opacity: 1
}

.chkbox-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 6rem;
    min-height: 6rem;
    border-radius: .5rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    transition: .15s;
    cursor: pointer;
    position: relative
}

.chkbox-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.85rem;
    height: 0.85rem;
    border: 2px solid #b5bfd9;
    background-color: #fff;
    border-radius: 50%;
    top: .25rem;
    left: .25rem;
    opacity: 1;
    transform: scale(1);
    transition: .25s;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%
}

.chkbox-tile:hover {
    border-color: #2260ff
}

.chkbox-icon {
    transition: 375ms;
    color: #494949
}

.chkbox-icon img {
    width: 3rem;
    height: 3rem
}

.chkbox-label {
    color: #707070;
    transition: .375s;
    text-align: center
}

.img-hvr:hover {
    height: auto;
    width: auto;
    aspect-ratio: 1;
    background: #fff;
    transform: scale(1.2);
    transition: .3s ease-in-out
}

.img-hvr:active {
    transform: translateY(6px)
}

#static-dialog1 {
    float: right;
    width: 225px;
    border-radius: 10px;
    margin-right: -5px
}

#static-dialog2 {
    float: left;
    width: 275px;
    border-radius: 10px;
    margin-left: 35px
}

#static-dialog3 {
    border-radius: 10px;
    z-index: 1;
    margin-top: 25px
}

#static-dialog4 {
    margin-top: -146px;
    border-radius: 10px
}

#download-pdf-document {
    margin: 0;
    width: 50px;
    transition: .3s ease-in-out
}

#download-word-document {
    margin: 0;
    width: 65px;
    transition: .3s ease-in-out
}

.aui-dialog2 {
    box-shadow: rgb(30 50 150 / 25%) 0 10px 30px -5px, rgb(0 0 150 / 15%) 0 8px 16px -8px
}

#export-button {
    outline: none;
    background: #2260ff;
    border: none;
    font-weight: 700;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#export-button:disabled {
    outline: none;
    background: #ccc;
    border: none;
    font-weight: 700;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#export-button:enabled:active {
    transform: translateY(2px) scale(0.95);
}

#mo-close-button-2 {
    outline: none;
    background: #2260ff;
    border: none;
    font-weight: 700;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#loader {
    width: 50%;
    margin: 20px auto;
}

/* Widget */

.fake-loader-container {
    background: #ccc;
    height: 20px;
    overflow: hidden;
    border-radius: 15px;
    position: relative;
}

.fake-loader-progress-bar {
    width: 0%;
    height: 100%;
    background: #4488CC;
    position: absolute;
}

.fake-loader-progress-bar.fake-loader-active {
    background-image: -moz-linear-gradient(-45deg,
    rgba(0, 0, 0, 0.3) 0px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.0) 20px,
    rgba(0, 0, 0, 0.0) 40px,
    rgba(0, 0, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 60px); /* FF3.6-15 */
    background-image: -webkit-linear-gradient(-45deg,
    rgba(0, 0, 0, 0.3) 0px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.0) 20px,
    rgba(0, 0, 0, 0.0) 40px,
    rgba(0, 0, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 60px); /* Chrome10-25,Safari5.1-6 */
    background-image: linear-gradient(135deg,
    rgba(0, 0, 0, 0.3) 0px,
    rgba(0, 0, 0, 0.3) 20px,
    rgba(0, 0, 0, 0.0) 20px,
    rgba(0, 0, 0, 0.0) 40px,
    rgba(0, 0, 0, 0.3) 40px,
    rgba(0, 0, 0, 0.3) 60px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: 60px 20px;

    animation: animatedBackground 40s linear infinite;
}

.fake-loader-progress-indicator {
    width: 100%;
    height: 100%;
    padding-top: 1px;
    text-align: center;
    position: absolute;
    color: #fff;
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -2000px 0;
    }
}


.hovertext[disabled] {
    position: relative;
    border-bottom: 1px dotted black;
}

.hovertext[disabled]:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: rgba(65, 65, 65, 1);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 0.15s ease-in-out;

    position: absolute;
    z-index: 1;
    left: -33%;
    bottom: 110%;
}

.hovertext[disabled]:hover:before {
    opacity: 1;
    visibility: visible;
}
